*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px red solid */
}
 body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    background-color: #1A002B;
    flex-flow: row wrap;
    padding: 50px;
 }
 aside{
    background-color: #EDE6FF;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
 }

h1{
    text-align: center;
    color:#FFFFFF;
    width: 100%;
    height: fit-content;
 }

 h2{
    text-align: center;
    margin-bottom: 10px;
    color:#5D2AAB;
 }

 label{
    color:#7F3FFF;
 }
 input{
    border: 0;
    border-bottom: 1px solid #5D2AAB;
    width: 100%;
 }
 button{
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background-color: #5D2AAB;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
 }

 p{
    margin: 5px 0;
 }