*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px red solid */
}
 body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1A002B;
    flex-flow: column nowrap;
    padding: 50px;
 }
 aside{
    background-color: #EDE6FF;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
 }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5D2AAB;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: 10vh;
 }

.barnav{
    flex:1;
    text-align: end;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
 }

a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

a.opt{
    background-color: #7F3FFF;
    padding: 5px 10px;
    border-radius: 5px;
}

a.opt:hover{
    background-color: #9B59FF;
}

#logout:hover{
    background-color: #FF3F3F;
}

 h1{
    text-align: center;
    color:#EDE6FF;
 }

 label{
    color:#7F3FFF;
 }
 input{
    border: 0;
    border-bottom: 1px solid #5D2AAB;
    width: 100%;
 }
 button{
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background-color: #5D2AAB;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
 }

 p{
    margin: 5px 0;
    height: fit-content;
 }

 textarea{
    border: 0;
    border-bottom: 1px solid #5D2AAB;
    width: 100%;
    resize: vertical;
 }