*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px red solid */
}
 body{
    width: 100vw;
    height: 100vh;
    align-items: top;
    justify-content: space-evenly;
    background-color: #1A002B;
    padding: 50px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5D2AAB;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: 10vh;
 }

h1{
    text-align: start;
    color:#FFFFFF;
    height: fit-content;
    flex: 2;
 }

.barnav{
    flex:1;
    text-align: end;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
 }

a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

a:hover{
    color: #5D2AAB;
}

a.opt{
    background-color: #7F3FFF;
    padding: 5px 10px;
    border-radius: 5px;
}

a.opt:hover{
    background-color: #9B59FF;
}

#logout:hover{
    background-color: #FF3F3F;
}

.accion{
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    gap: 0px;

 }

table{
    margin: auto;
    width: fit-content;
    background-color: #A56FFF;
    border-radius: 5px;
    overflow:scroll;
    text-align: center;
}

th, td{
    padding: 10px 20px;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;

}
th{
    background-color: #7F3FFF;
}